{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-center" data-aos="zoom-in">
        <h1 class="display-4">Bienvenue sur notre plateforme de réservation !</h1>
        <p class="lead">Gérez et réservez facilement votre matériel grâce à notre application moderne.</p>
    </div>
{% endblock %}
