/* Style général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-size: 3rem;
}

header {
    margin-bottom: 2rem;
}

footer {
    margin-top: 2rem;
}

/* Ajouter un effet de survol sur les cartes */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Effet de survol sur le bouton */
.btn-primary {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


/* Catalogue page cards */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.search-bar {
    margin-bottom: 20px;
}

.equipment-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.equipment-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.equipment-item h3 {
    margin-bottom: 10px;
}

.equipment-item span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.equipment-item span:before {
    content: 'État : ';
    font-weight: normal;
}

.btn-login {
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-login:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.btn-primary {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.btn-login {
    margin-right: 0; 
}

header .nav-link {
    margin-right: 20px; 
}
.logo {
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    width: auto; /* Cela maintient le ratio de l'image */
    
}
