{% extends 'base.html.twig' %}

{% block title %}Mes Réservations{% endblock %}

{% block body %}
    <h1>Mes Réservations</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Équipement</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
                <tr>
                    <td>{{ loan.equipment.name }}</td>
                    <td>{{ loan.startTime|date('d/m/Y H:i') }}</td>
                    <td>{{ loan.EndTime|date('d/m/Y H:i') }}</td>
                    <td>
                        {% if loan.status %}
                            <span class="badge bg-success">Actif</span>
                        {% else %}
                            <span class="badge bg-danger">Terminé</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Aucune réservation trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
